<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form #authform="ngForm" (ngSubmit) = "login(authform)">
            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" id="email" [(ngModel)]= "email" name="email" required email>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" [(ngModel)]= "password" name="password" required minlength="5" >
            </div>
           
            <button type="submit" class="btn btn-primary" [disabled] = "!authform.valid">Submit</button>
          </form>
    </div>
</div>

