<div class="row">
<div class="col-md-4 col-md-offset-4" style="margin-top: 50px;">
  <form action="/action_page.php">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" [(ngModel)] = "name">
    </div>
    <div class="form-group">
        <label for="name">shortname:</label>
        <input type="text" class="form-control" [(ngModel)] = "shortname">
      </div>
    
      <div class="form-group">
        <label for="MarketCap">MarketCap:</label>
        <input type="text" class="form-control" [(ngModel)] = "MarketCap" >
      </div>
      <div class="form-group">
        <label for="CurrentMarketPrice">CurrentMarketPrice:</label>
        <input type="text" class="form-control" [(ngModel)] = "CurrentMarketPrice" >
      </div>
      <div class="form-group">
        <label for="Stock">Stock:</label>
        <input type="text" class="form-control" [(ngModel)]="Stock">
      </div>
      <div class="form-group">
        <label for="Dividend">Dividend:</label>
        <input type="text" class="form-control" [(ngModel)]="Dividend">
      </div>
      <div class="form-group">
        <label for="ROCE">ROCE:</label>
        <input type="text" class="form-control" [(ngModel)]="ROCE">
      </div>
      <div class="form-group">
        <label for="ROE">ROE:</label>
        <input type="text" class="form-control" [(ngModel)]= " ROE">
      </div>
      <div class="form-group">
        <label for="Debt">Debt:</label>
        <input type="text" class="form-control" [(ngModel)]="Debt">
      </div>
      <div class="form-group">
        <label for="EPS">EPS:</label>
        <input type="text" class="form-control" [(ngModel)] ="EPS">
      </div>
      <div class="form-group">
        <label for="Reserves">Reserves:</label>
        <input type="text" class="form-control" [(ngModel)] = "Reserves">
      </div>
   
    <button type="submit" class="btn btn-default" (click)="savedeatils()">Submit</button>
  </form>
</div>
</div>
